.goals {
    width: 50%;
    margin: auto;
    background: white;
    border-radius: 20px;
    padding: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    
}


h2 {
    color: green;
    text-align: center;
}